body {
    font-size: 16pt;
}

#information ul{
    position: absolute;
    left: 610px;
    top: 0px;
    width: 320px;
    border: 1px solid black;
}

ul span {
    position: absolute;
    left: 360px;
    font-size: 12pt;
    color: red;
}

#information input[type='text'], select {
    position: absolute;
    left: 200px;
}

.item:hover {
    background-color: red;
}

#users {
    width: 600px;
    padding: 0px;
}

.selected {
    background-color: lawngreen;
}
